<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WSAPIServiceContract">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_WSAPIServiceContract1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsapi.ams360.com/v3/WSAPIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WSAPIServiceContract"
                contract="WSAPIService.WSAPIServiceContract" name="BasicHttpBinding_WSAPIServiceContract" />
        </client>
    </system.serviceModel>
</configuration>